/**
 * CSS for tooptip in the table.
 */
.alter-route-title-path span {
  color: #0074bd;
}
.alter-route-title-path .tooltip {
  display: inline;
  position: relative;
}
.alter-route-title-path .tooltip:hover:after {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  background: #444;
  border-radius: 8px;
  color: #fff;
  content: attr(customtitle);
  margin: -85px auto 0;
  padding: 13px;
  position: absolute;
}
.alter-route-title-path .tooltip:hover:before {
  border: solid;
  border-color: #444 transparent;
  border-width: 12px 6px 0 6px;
  content: "";
  left: 45%;
  bottom: 25px;
  position: absolute;
}
